.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {

    transform: rotate(360deg);
  }
}

.box,
.grey {
  background-color: rgb(234 231 231);
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  margin: 3px;
  /* todo hay que cambiar por tipo  */
}

.short .box {
  box-shadow: 2px 4px 10px rgb(255 0 0 / 40%)
}

.long .box {
  box-shadow: 2px 4px 10px rgb(46 124 45 / 40%)
}

.personal-box-shadow {
  box-shadow: 0px 3px 5px 2px lightgrey;
  padding: 5px 15px;
  border-radius: 3px;
  transition: ease-in 0.3s;
  text-align: start;
}

.personal-box-shadow:hover {
  box-shadow: 0px 3px 5px 3px lightgrey;
  transition: ease-in 0.3s;
}

.personal-box-shadow h5 {
  text-align: left;
}

/* .add-button {
  margin-top: 24px;
} */

.align-right {
  text-align: end;
}

.delete-all {
  color: rgb(135, 6, 6) !important
}

.center {
  text-align: center;
}

button.btn,
label.btn,
a.btn {

  transition: 0.3s;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.27);


  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  margin-top: 10px;
  border-radius: 3px;
  transition: background-size 500ms;
}

button.btn {
  border: none;
}

button.btn-danger,
label.btn-danger,
label.btn-outline-danger {
  background-image: linear-gradient(#dc3545, #ef4354);

}

button.btn-secondary,
label.btn-secondary,
a.btn-secondary {
  background-image: linear-gradient(#6c757d, #747d85);
}

button.btn-success,
label.btn-outline-success {
  background-image: linear-gradient(#198754, #1a965c);
}

button.btn-dark {
  background-image: linear-gradient(#212529, #292d32);
}

label.btn-outline-success:hover,
label.btn-outline-danger:hover {
  background-color: transparent;
}

button.btn:hover,
label.btn:hover,
a.btn:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

button.btn.btn-link {
  border: 0px;
  box-shadow: none;
}


#footer {
  margin-top: 10px;
  padding: 25px;
  background: rgb(32, 31, 52);
  background: linear-gradient(132deg, rgba(32, 31, 52, 1) 0%, rgba(74, 74, 74, 1) 35%);
  color: #f1f1f1;
}

@media (min-width: 768px) {


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    padding-top: 10px;
  }

  * label {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .container-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 745px;
  }
}

@media (min-width: 1024px) {
  body {
    /* background-color: blue !important; */
  }
}

@media (min-width: 1200px) {
  body {
    /* background-color: yellow !important; */
  }
}