@font-face {
    font-family: "Pacifico";   /*Can be any text*/
    src: local("Pacifico"),
      url("../media/fonts/Pacifico-Regular.ttf") format("truetype");
      /* url("./font/AirbnbCerealLight.ttf") format("truetype"); */
  }

/* Header component */
#main-header {
    background-image: url("https://daytraderlatino.files.wordpress.com/2020/04/cropped-stock-1863880_1920-1-1.jpg");
    background-position: center;
    padding: 25px;
    width: 100%;
    font-family: "Oswald", sans-serif;
}

@media (max-width: 800px)
.section-inner {
    max-width: 92%;
}
.header-inner {
    position: relative;
    text-align: center;
    text-decoration: none;
}
.section-inner {
    margin: 0 auto;
    max-width: 90%;
    width: 1400px;
}


#main-header .site-logo img, #main-header .custom-logo-link img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-height: 150px;
    max-width: 600px;
    width: auto;

}

.site-title {
    font-family: "Pacifico",sans-serif;
    font-size: 40.5px;
    font-wigth: 400;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
    transition: 0.5s;
}
.site-title a {
transition: 0.5s;
}
.site-title a:hover {
    color: #BFBFBF;
    text-decoration: none;
    transition: 0.5s;
}
.site-title a {
    color: #fff;
}
.search-input {
    margin: 20px;
}
.site-description {
    color: #999;
    font-size: 19.8px;
    font-weight: 400;
    line-height: 110%;
    margin: 20px 0 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
    text-decoration: none
}

.search-input form span {
    margin: 20px;
    font-size: large;
    font-weight: 400;

}

.search-input button {
    padding: 7px 10px;
    margin: 10px;
    border-radius: 25%;
    border: 3px solid#ededed;


}

.button-container {
    margin-top: 2px;
    margin-left: 1px;
}

.button.execute {
    background-color: green;
    color: #ededed;

}

.button.error {
    background-color: rgb(128, 9, 0);
    color: #ededed;
}

/* Tooltip container */
.button {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.button .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.button .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.space {
    margin-top: 5px;
    padding-bottom: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;

}