/* Header component */
#main-header {
    background-image: url("https://daytraderlatino.files.wordpress.com/2020/04/cropped-stock-1863880_1920-1-1.jpg");
    background-position: center;
    padding: 25px;
    width: 100%;
    height: 150px;
    font-family: "Oswald", sans-serif;
}

.search-input {
    margin: 20px;
}


.search-input form span {
    margin: 20px;
    font-size: large;
    font-weight: 400;

}

.search-input button {
    padding: 7px 10px;
    margin: 10px;
    border-radius: 25%;
    border: 3px solid#ededed;


}

.button-container {
    margin-top: 2px;
    margin-left: 1px;
}

.button.execute {
    background-color: green;
    color: #ededed;

}

.button.error {
    background-color: rgb(128, 9, 0);
    color: #ededed;
}

/* Tooltip container */
.button {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.button .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.button .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.space {
    margin-top: 5px;
    padding-bottom: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}