/* Header component */
#main-header {
    background-image: url("https://daytraderlatino.files.wordpress.com/2020/04/cropped-stock-1863880_1920-1-1.jpg");
    background-position: center;
    padding: 25px;
    width: 100%;
    height: 150px;
    font-family: "Oswald", sans-serif;
}